@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #f2e2ba;
}

.title-hi{
    padding-top: 30px;
}
p{
    font-size: large;
    margin-left :20px ;
    margin-bottom: 10px;
}
.light-green-box{
    background-color: #b0f2b4;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 20px;
}
.light-blue-box{
    background-color: #baf2e9;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 20px;
}

.blue-box{
    background-color: #bad7f2;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 20px;
}
.pink-box{
    background-color: #f2bac9;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 20px;
}

.hand-img {
  width: 100px;

  margin-left: 20px;
  margin-top: 20px;
  animation: hand-shake 2s ease-in-out 0s infinite;
  transform-origin: bottom;



}

@keyframes hand-shake {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(-22deg);
  }
  10% {
    transform: rotate(22deg);
  }
  15% {
    transform: rotate(-22deg);
  }
  20% {
    transform: rotate(22deg);
  }
  25% {
    transform: rotate(-22deg);
  }
  30% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.greeting {
  font-size: xx-large;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.hand {
  padding-right: 30px;
}




.loader {
 
  overflow: hidden;
 

  
  
  display: flex;
  align-items: center;
   
  z-index: 100000;
}

.loader__element {
  border-radius: 100%;
  border: 10px solid gray;
  margin: 20px;
}

.loader__element:nth-child(1) {
  animation: preloader .6s ease-in-out alternate infinite;
}
.loader__element:nth-child(2) {
  animation: preloader .6s ease-in-out alternate .2s infinite;
}

.loader__element:nth-child(3) {
  animation: preloader .6s ease-in-out alternate .4s infinite;
}

@keyframes preloader {
  100% { transform: scale(2); }
}


.elem {
    padding: 5px;
    margin: 10px;
    background: orange;
    width: 300px;
    height: 150px;
   
  }

  .elem:hover{
    animation: moveToRight 2s ease-in-out;
    animation-delay: 1000ms;
  }

  @keyframes moveToRight {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(300px);
    }
  }

  
  * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }
  
  .container {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .container:hover {
      cursor: pointer;
  }
  
  .container img {
      filter: grayscale();
      width: 200px;
      height: 200px;
      border-radius: 50%;
      border: 6px solid whitesmoke;
      box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
      margin-bottom: 1rem;
      transition: filter 0.4s ease-in-out;
  }
  
  .container:hover img {
      filter: none;
  }
  
  .title {
      font-family: "Dancing Script", cursive;
      font-size: 3rem;
      color: whitesmoke;
      position: relative;
  }
  
  .title::after {
      position: absolute;
      content: "";
      width: 0%;
      height: 4px;
      background-color: whitesmoke;
      left: 50%;
      bottom: -10px;
      transition: all 0.4s ease-in-out;
  }
  
  .container:hover .title::after {
      width: 100%;
      left: 0;
  }
  
